<a href="https://colab.research.google.com/github/dhairyachandra/KDM_Project_-RateMyProfessors/blob/main/Gender_vs_Word_Frequency_ipynb_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install scattertext

Requirement already satisfied: scattertext in /usr/local/lib/python3.7/dist-packages (0.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from scattertext) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from scattertext) (1.15.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from scattertext) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from scattertext) (1.1.5)
Requirement already satisfied: flashtext in /usr/local/lib/python3.7/dist-packages (from scattertext) (2.7)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from scattertext) (1.4.1)
Requirement already satisfied: mock in /usr/local/lib/python3.7/dist-packages (from scattertext) (4.0.3)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from scattertext) (0.10.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->scattertext) (1.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->scattertext) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->scattertext) (2018.9)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->scattertext) (0.5.1)

In [ ]:
import scattertext as st
import spacy
import pandas as pd

In [ ]:
df = pd.read_csv('/content/RateMyProfessor_Sample data.csv')

#Removes unkown genders
df_male_female = df[df['gender'].str.contains(
                'male|female', na=False)]

In [ ]:
nlp = spacy.load('en')

In [ ]:
import nltk
nltk.download('stopwords')

#Establishes stopwords
with open('stopwords.txt', 'r') as f:
    str_f = f.read()
    stopwords_file = set(str_f.split('\n'))
nlp.Defaults.stop_words |= stopwords_file

from nltk.corpus import stopwords
stopWords = set(stopwords.words('english'))
nlp.Defaults.stop_words |= stopWords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
df

           professor_name  ... IsCourseOnline
0          Leslie  Looney  ...              0
1          Leslie  Looney  ...              0
2          Leslie  Looney  ...              0
3          Leslie  Looney  ...              0
4          Leslie  Looney  ...              0
...                   ...  ...            ...
19995  Dennis  Richardson  ...              0
19996  Dennis  Richardson  ...              0
19997  Dennis  Richardson  ...              0
19998  Dennis  Richardson  ...              0
19999  Dennis  Richardson  ...              0

[20000 rows x 51 columns]

In [ ]:
#Builds corpus (Gender v. Comments), and removes stopwords
corpus = st.CorpusFromPandas(df_male_female, 
                            category_col='gender',
                            text_col='comment',
                            nlp=nlp).build().remove_terms(nlp.Defaults.stop_words, ignore_absences=True)

In [ ]:
#Builds html file
html = st.produce_scattertext_explorer(corpus,
          category='male',
          category_name='Male',
          not_category_name='Female',
          width_in_pixels=1000,
          height_in_pixels=700,
          metadata=df_male_female['professor_name'])
open("Gender-Vs-Word-Frequency.html", 'wb').write(html.encode('utf-8'))

1628316